{% extends "base.html" %}
{% load markdown_deux_tags %}
{% block title %}Join{% endblock %}
{% block css_file %}join.css{% endblock %}
{% block content %}
<div class="block" id="pagetitle">
  <h1>Join the CSUA</h1>
  <div class="text" id="texttitle">
    Become a part of a welcoming community of students interested in CS!
  </div>
</div>
<div class="blockseparation"></div>
<div class="column columnleft">
  <div id="signup" class="block">
    {% markdown %}
# Sign Up

Visit our office at 311 Soda and sign up for an account! All you have to do is
walk in, find an [officer](../officers), and provide some information, such as
your name and Berkeley email address. You'll have an account on our computers,
server space, and more in no time!

Once you make an account with the CSUA, you'll be able to periodically receive
emails about events and job opportunities, use our office computers, and  host
your own website on the CSUA server.

If you have any questions about the benefits of CSUA membership, please contact
our Outreach Chair at outreach@csua.berkeley.edu.

If you have problems with your CSUA account, please direct your questions to our
Tech VP at vp@csua.berkeley.edu.
    {% endmarkdown %}
  </div>
  <div class="blockseparation"></div>
  <div id="officer" class="block">
    {% markdown %}
# Become An Officer

Interested in becoming more involved? Officers are active members of the CSUA
who have shown that they want to contribute to the organization and to the
computer science community. Officers are entrusted with appropriate privileges,
such as office access, and have opportunities to participate in essential club
duties. From networking with industry to learning how to maintain the servers to
planning social events, officers are the core of the CSUA's membership.

Come ask us in 311 Soda to learn more, or email the politburo at
pb@csua.berkeley.edu.
    {% endmarkdown %}
  </div>
  <!-- <div class="blockseparation"></div> -->
  <img id="joinpicture" src="{{ STATIC_URL }}images/Woz.jpg">
</div>
<div class="responsivehidden blockseparation"></div>
<div class="column columnright">
  <!-- <img id="wozpic" src="{{ STATIC_URL }}images/PuzzleHunt.jpg"> -->
  <div class="blockseparation"></div>
  <div id="whytojoin" class="block">
    {% markdown %}
# Why You Should Join

## [0] Access to industry professionals and companies

The CSUA holds many information sessions and tech talks that bring in notable
technical entrepreneurs to talk about building great companies. Darshan Shankar,
Founder and CEO of Bigscreen VR, came to speak to CSUA members in Spring 2018.
Jonathan Blow, independent video game programmer/designer and former CSUA
President, spoke in the Woz in Spring 2016. Jack Dorsey, CEO of Square and
co-founder of Twitter, spoke in Sibley Auditorium in Fall 2013. Drew Houston,
CEO of Dropbox, spoke in the Woz in Spring 2010.

## [1] Informational and skill-building events

We help provide resources for CS students to find jobs and internships. We host
info sessions with great companies and provide lots of skill-building events,
such as interview workshops and industry sponsored hackathons. We also hold
dinners with faculty (e.g. Brian Harvey in Spring 2013) and alumni.

## [2] Build connections and meet students

Come to CSUA events to meet your fellow CS students! Find study partners for
your classes, work with other students on projects or hacks, and discuss topics
like interview questions, CS research, good upper-division classes, and more!

## [3] Free food at fun events

While we primarily serve as the entry point to the software industry, we know
how to have fun too. We host hackathons with cool prizes, general meetings with
free food, alumni BBQs, ice cream socials, intersocietal events, and more.
    {% endmarkdown %}
  </div>
</div>
{% endblock %}
